.plan_title-visual {
  height: 150px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-background-size: cover;
  background-size: cover;
}

.portfolio.aligned-left {
  justify-content: flex-start;
}
