<div class="form-group">
  <div class="row input-row">
    <div class="col-xs-11">
      <input
        name="title"
        type="text"
        class="form-control input-sm "
        placeholder="List item name"
        required
        [(ngModel)]="newItem.itemContent">
    </div>
    <div class="col-xs-1">
      <button type="button"
              class="btn btn-link btn-sm pull-right"
              placement="left"
              (click)="addItem()"
              ngbTooltip="Save changes">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  </div>
</div>
