  <div class="caption">
    <h3>{{checklist.title}}</h3>
    <h6><span class="label label-default">{{checklist.listCategory}}</span></h6>
    <ul class="list-group">
      <li *ngFor="let item of shortList | sort: byChecked" class="list-group-item">
      <span class="badge"
            [ngClass]="item.itemChecked">
        <span class="glyphicon glyphicon-ok"></span>
      </span>
        {{item.itemContent}}
      </li>
    </ul>
    <div class="btn-group btn-group-xs btn-group-justified">
      <div class="btn btn-info"
           (onChanged)="onEditList($event)"
           [checklist]="checklist"
           app-edit-checklist
      ></div>
      <div class="btn btn-danger" (click)="listRemove()">remove list</div>
    </div>
  </div>

