<section class="container dashboard">
  <div class="dashboard-controls clearfix">
    <div class="btn-group btn-group-xs pull-right">
      <label class="btn btn-default" ng-model="checkModel.left" uib-btn-checkbox>Show all</label>
      <label class="btn btn-default" ng-model="checkModel.middle" uib-btn-checkbox>by Date</label>
      <label class="btn btn-default" ng-model="checkModel.right" uib-btn-checkbox>by Status</label>
    </div>
  </div>
  <ul class="portfolio">
    <li class="thumbnail portfolio-thumbnail"
        routerLink="/plan"
        *ngFor="let plan of plans">
      <img [src]="plan.img" alt="thumbnail">
      <div class="caption">
        <h3>{{plan.title}}</h3>
        <p>{{plan.date}}</p>
        <p><span class="label" [ngClass]="getPeriod(plan.period)">{{plan.period}}</span></p>
        <p class="button-holder">
          <a href="#" class="btn btn-primary">Open</a>
          <a href="#" class="btn btn-default">Hide</a>
        </p>
      </div>
    </li>
  </ul>

</section>
